@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;600;700;900&display=swap");

.animate-marquee {
  display: flex;
  white-space: nowrap;
  will-change: transform;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee-2 {
  /* display: inline-block;
  white-space: nowrap; */
  /* animation: marquee 10s linear infinite; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
